@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/js/iziToast.js"></script>
    <link href="~/css/iziToast.css" rel="stylesheet" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GasStation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />*@
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
    <script>
            window.RootUrl = '@Url.Content("~/")';
            $(document).ready(function () {

                var info = '@TempData["Info"]';
                if (info != null && info != "") {
                    iziToast.success({

                        message: info,

                    });
                }

                var warning = '@TempData["Warning"]';
                if (warning != null && warning != "") {
                    iziToast.error({

                        message: warning,
                    });
                }
            });

    </script>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Transaction" asp-action="Index" class="btn btn-primary">Transakcje</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Asortyment
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a asp-action="Index" asp-controller="Product" class="dropdown-item">Produkty</a>
                                <a asp-action="Index" asp-controller="Discount" class="dropdown-item">Promocje</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Paliwo
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a asp-action="Index" asp-controller="Tank"  class="dropdown-item">Zbiorniki</a>
                                <a asp-action="Index" asp-controller="Distributor" class="dropdown-item">Dystrybutory</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Raporty
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a asp-action="ReportOfSales" asp-controller="Report" class="dropdown-item">Raport sprzedaży</a>
                                <a asp-action="ReportOfFueling" asp-controller="Fueling" class="dropdown-item">Tankowania</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="LoyaltyCard" class="btn btn-primary">Karty lojalnościowe</a>
                        </li>
                        <div class="collapse navbar-collapse justify-content-end">
                            @if (signInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="btn btn-secondary dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Zarządzanie
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a asp-action="ListUsers" asp-controller="Administration" class="dropdown-item">Użytkownicy</a>
                                        <a asp-action="ListRoles" asp-controller="Administration" class="dropdown-item">Role</a>
                                        <a asp-action="EditUser" asp-controller="Account" class="dropdown-item">Konto</a>
                                    </div>
                                </li>
                                <li class="nav-item justify-content-end">
                                    <form method="post" asp-action="logout" asp-controller="account">
                                        <button type="submit" class="btn btn-danger" style="width:auto">
                                            Wyloguj się
                                        </button>
                                    </form>
                                </li>
                            }
                            else if (signInManager.IsSignedIn(User) && !User.IsInRole("Administrator"))
                            {
                                <li class="nav-item">
                                    <a asp-action="EditUser" asp-controller="Account" class="nav-link btn btn-link py-0">Zarządzanie kontem</a>
                                </li>
                                <li class="nav-item justify-content-end">
                                    <form method="post" asp-action="logout" asp-controller="account">
                                        <button type="submit" class="btn btn-danger" style="width:auto">
                                            Wyloguj się
                                        </button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a asp-action="login" asp-controller="account" class="btn btn-danger">Logowanie</a>
                                </li>
                            }
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <br/>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - GasStation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<style>
    .nav-item {
        padding-right: 10px;
    }
    .input-validation-error {
        background: #FEF1EC;
        border: 1px solid #CD0A0A;
    }
</style>