@model IEnumerable<GasStation.Models.ModelsView.TransactionCreate>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>



<span><a asp-action="Create" asp-controller="Transaction" class="btn btn-danger">Dodaj transakcję</a></span>
<br />
<br />
<br />
<br />
<table class="table" id="transactionTable">
    <thead>
        <tr>
            <th>
                Pracownik
            </th>
            <th>
                Data
            </th>
            <th>
                Rodzaj płatności
            </th>
            <th>
                Potwierdzenie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @(item.Transaction.ApplicationUser.UserName +  " " + item.Transaction.ApplicationUser.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Transaction.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameOfPayment)
                </td>
                <td>
                    <input class="form-check-input" asp-for="@item.Transaction.PaymentConfirmationRequested" style="width: 25px; height: 25px;" disabled="disabled"/>
     
                </td>
                <td>
                    <a style="background-color:lightblue;" asp-action="Details" asp-route-id="@item.Transaction.TransactionId" class="btn btn-default" title="Podgląd"><i class="fas fa-search"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.Transaction.TransactionId">Edit</a> |
                </td>
            </tr>
        }
    </tbody>
</table>
<script>

    $(document).ready(function () {
        $('#transactionTable').DataTable({
            "iDisplayLength": 10,
            "columnDefs": [
                { "orderable": false, "targets": [0, 2] }

            ],
            "language": {
                "sSearch": "Szukaj",
                "productTable": "Pokaż",
                "sSearchPlaceholder": "Wyszukiwarka",
                "zeroRecords": "Nie znaleziono żadnych danych",
                "paginate": {
                    "previous": "Poprzednia",
                    "next": "Następna",
                },
                "info": "Pokaż _PAGE_ of _PAGES_",
                "lengthMenu": "Pokaż _MENU_ rekordów na stronie",
            }
        });
    })

</script>