@model GasStation.Models.ReportSale


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
<h2 style="text-align:center;">Raport sprzedaży produktów</h2>
<form asp-action="ReportOfSales" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DateFrom" class="control-label">Data rozpoczęcia</label>
                <div class="input-group date" data-provide="datepicker">
                    <input asp-for="DateFrom" type="text" class="form-control" id="beginDate"/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DateTo" class="control-label">Data zakończenia</label>
                <div class="input-group date" data-provide="datepicker">
                    <input asp-for="DateTo" type="text" class="form-control" id="finishDate"/>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <br />
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Wyświetl</button>
            </div>
        </div>
    </div>
</form>

<div class="box box-primary">
    <div class="box-body">
      
            <div class="container">
                <div class="row" style="margin:20px;">
                    <div class="col-md-4">
                        @Html.Label("Dokonane transakcje")
                        <input asp-for=@Model.NumberOfTransactions class="form-control" value=@Model.NumberOfTransactions readonly/>

                    </div>
                    <div class="col-md-4">
                        @Html.Label("Sprzedane produkty")
                        <input asp-for=@Model.NumberOfSoldProducts class="form-control" value=@Model.NumberOfSoldProducts readonly/>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Wystawione faktury")
                        <input asp-for=@Model.NumberOfInvoices class="form-control" value=@Model.NumberOfInvoices readonly />
                    </div>
                </div>


            </div>



    </div>
</div>

<table class="display" id="productTable">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Suma ze sprzedaży produktu
            </th>
            <th>
               Ilość sprzedanego produktu
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @String.Format("{0:N}", item.Price)
  
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
            </tr>
        }
    </tbody>
</table>


<script>

    $(document).ready(function () {
        $('#productTable').DataTable({
            "iDisplayLength": 10,
            "columnDefs": [
                { "orderable": true, "targets": [0, 2] }

            ],
            "language": {
                "sSearch": "Szukaj",
                "productTable": "Pokaż",
                "sSearchPlaceholder": "Wyszukiwarka",
                "zeroRecords": "Nie znaleziono żadnych danych",
                "paginate": {
                    "previous": "Poprzednia",
                    "next": "Następna",
                },
                "info": "Pokaż _PAGE_ of _PAGES_",
                "lengthMenu": "Pokaż _MENU_ rekordów na stronie",
            }
        });

        $(".beginDate").datepicker({ defaultDate: new Date() });
        $(".finishDate").datepicker({ defaultDate: new Date() });
    });

    $.fn.datepicker.defaults.format = "mm/dd/yyyy";
    $('.datepicker').datepicker({
        dateFormat: 'mm/dd/yyyy',
        startDate: '0d'
    });
</script>