@model IEnumerable<GasStation.Models.Discount>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>


<span><a asp-action="Create" asp-controller="Discount" class="btn btn-danger">Dodaj promocję</a></span>
<br />
<br />
<br />
<table class="display" id="discountTable">
    <thead>
        <tr>
            <th>
                Nazwa produktu
            </th>
            <th>
                Nazwa
            </th>
            <th>
                Typ
            </th>
            <th>
                Wartość
            </th>
            <th>
                Data rozpoczęcia promocji
            </th>
            <th>
                Data zakończenia promocji
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishDate)
            </td>
            <td>
                <a style="background-color:lightblue;" asp-action="Edit" asp-route-id="@item.DiscountId" class="btn btn-default" title="Edycja"><i class="fas fa-pencil-alt"></i></a>
                

            </td>
            <td>
                <span><a style="color:white;background-color:red;" onclick="deleteFunction('@item.DiscountId')" class="btn btn-default " title="Usuwanie"><i class="fa fa-trash "></i> </a></span>
            </td>
        </tr>
        }
    </tbody>
</table>

<script>

    $(document).ready(function () {
        $('#discountTable').DataTable({
            "iDisplayLength": 10,
            "columnDefs": [
                { "orderable": false, "targets": [0, 2] }

            ],
            "language": {
                "sSearch": "Szukaj",
                "productTable": "Pokaż",
                "sSearchPlaceholder": "Wyszukiwarka",
                "zeroRecords": "Nie znaleziono żadnych danych",
                "paginate": {
                    "previous": "Poprzednia",
                    "next": "Następna",
                },
                "info": "Pokaż _PAGE_ of _PAGES_",
                "lengthMenu": "Pokaż _MENU_ rekordów na stronie",
            }
        });
    })
    function deleteFunction(clicked_id) {
        console.log(clicked_id);
        $("#valueYes").attr("href", "/Discount/Delete?Id=" + clicked_id);
        $("#myModal").modal('show');


    }


</script>
<style>
</style>

<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <form method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal"> &times;</a>

                </div>
                <div class="modal-body">
                    <h4> Czy na pewno chcesz usunąć promocje?</h4>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-default" data-dismiss="modal"> Nie</a>

                    <a class="btn btn-default" id="valueYes"> Tak</a>
                </div>

            </div>
        </form>

    </div>

</div>
